.themify_builder_content-39 .tb_47827de.module_row {padding-top: 3%;padding-bottom: 2%;}
.themify_builder_content-39 .tb_0c85be5.module_column {text-align: center;}
.themify_builder_content-39 .tb_7f33088.module_row a {color: rgba(255,255,255,1);}
.themify_builder_content-39 .tb_7f33088.module_row {padding-top: 3%;}
.themify_builder_content-39 .tb_7340f88.module_column {text-align: center;}
.themify_builder_content-39 .tb_4d9d74b.module-text {margin-bottom: 50px;}
.themify_builder_content-39 .tb_4d9d74b.module-text.module h3 {letter-spacing: 3px;text-transform: uppercase;}
.themify_builder_content-39 .tb_e007260.module-image {margin-bottom: 20px;}
.themify_builder_content-39 .tb_pez4999.module-image {margin-bottom: 20px;}
.themify_builder_content-39 .tb_7qkl841.module-image {margin-bottom: 20px;}
.themify_builder_content-39 .tb_esk8443.module-image {margin-bottom: 20px;}
.themify_builder_content-39 .tb_ppll314.module-image {margin-bottom: 20px;}
.themify_builder_content-39 .tb_slch166.module-image {margin-bottom: 20px;}
.themify_builder_content-39 .tb_bf40d0d.module_row {padding-top: 6%;padding-bottom: 6%;}
.themify_builder_content-39 .tb_d1ec1be.module_column {text-align: center;}
.themify_builder_content-39 .tb_7o5i342.module-text {margin-bottom: 50px;}
.themify_builder_content-39 .tb_7o5i342.module-text.module h3 {letter-spacing: 3px;text-transform: uppercase;}
.themify_builder_content-39 .tb_7f43b51.module_row {padding-top: 5%;}
.themify_builder_content-39 .tb_93f47b3.module_row {padding-top: 2%;padding-bottom: 4%;}
.themify_builder_content-39 .tb_5e59a5a.module_column {text-align: center;}
.themify_builder_content-39 .tb_7bwl024.module-text {margin-bottom: 50px;}
.themify_builder_content-39 .tb_7bwl024.module-text.module h3 {letter-spacing: 3px;text-transform: uppercase;}
@media screen and (max-width: 1024px) {.themify_builder_content-39 .tb_bf40d0d.module_row {padding-top: 8%;}
	.themify_builder_content-39 .tb_b81d075.module_row {padding-top: 5%;}
	.themify_builder_content-39 .tb_93f47b3.module_row {padding-top: 4%;}}
@media screen and (max-width: 768px) {.themify_builder_content-39 .tb_e007260.module-image {margin-bottom: 10px;}
	.themify_builder_content-39 .tb_pez4999.module-image {margin-bottom: 10px;}
	.themify_builder_content-39 .tb_7qkl841.module-image {margin-bottom: 10px;}
	.themify_builder_content-39 .tb_esk8443.module-image {margin-bottom: 10px;}
	.themify_builder_content-39 .tb_ppll314.module-image {margin-bottom: 10px;}
	.themify_builder_content-39 .tb_slch166.module-image {margin-bottom: 10px;}
	.themify_builder_content-39 .tb_bf40d0d.module_row {padding-top: 8%;}
	.themify_builder_content-39 .tb_b81d075.module_row {padding-top: 5%;}}
@media screen and (max-width: 480px) {.themify_builder_content-39 .tb_e007260.module-image {margin-bottom: 7px;}
	.themify_builder_content-39 .tb_pez4999.module-image {margin-bottom: 7px;}
	.themify_builder_content-39 .tb_7qkl841.module-image {margin-bottom: 7px;}
	.themify_builder_content-39 .tb_esk8443.module-image {margin-bottom: 7px;}
	.themify_builder_content-39 .tb_ppll314.module-image {margin-bottom: 7px;}
	.themify_builder_content-39 .tb_slch166.module-image {margin-bottom: 7px;}
	.themify_builder_content-39 .tb_bf40d0d.module_row {padding-top: 8%;}
	.themify_builder_content-39 .tb_b81d075.module_row {padding-top: 7%;}}