.themify_builder_content-54 .tb_fub8933.module-text {text-align: center;}
.themify_builder_content-54 .tb_ae7h72.module_row {text-align: center;}
.themify_builder_content-54 .tb_jd5l350.module-image {padding-left: 5px;}
.themify_builder_content-54 .tb_ltff130.module-text {font-size: 14px;}
.themify_builder_content-54 .tb_pi53935.module-social-share {padding-top: 5%;text-align: center;}
@media screen and (max-width: 680px) {.themify_builder_content-54 .tb_pi53935.module-social-share {padding-top: 5%;}}